img{
    width: 10em;
}
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    width: 30em;
    justify-content: center;
    margin: auto;
    border: none;
    color: white;
    
}
section .url a{
    text-decoration: none;
    color: rgb(242, 233, 233);

}
section{
    background-color: rgb(68, 80, 69);

}